html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font */
  --font-base: "Roboto", sans-serif;
  --headline1: normal 6rem / 9.5rem var(--font-base);
  --headline2: bold 3.2rem / 9.5rem var(--font-base);
  --headline3: bold 4.8rem / 7.7rem var(--font-base);
  --headline4: bold 3.4rem / 5.5rem var(--font-base);
  --headline5: bold 2.4rem / 3.8rem var(--font-base);
  --body1: normal 1.6rem / 2.4rem var(--font-base);
  --body2: normal 1.4rem / 2.2rem var(--font-base);
  --button: bold 1.4rem / 2.2rem var(--font-base);
  --caption: normal 1.2rem / 1.9rem var(--font-base);

  /* colors */
  --black: #212121;
  --purple: #310a90;
  --green: #42e2b8;
  --white: #fff;

  /* config */
  --border-radius: 4px;
}

body {
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--black);
}

h1 {
  font: var(--headline1);
}

h2 {
  font: var(--headline2);
}
