.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  block-size: 35rem;
}

.header {
  position: sticky;
  /* top: 0; */
  inset-block-start: 0;
}

.header-content {
  position: relative;
}

header {
  inline-size: 19.7rem;
  position: absolute;
  /* left: -20.8rem; */
  inset-inline-start: -20.8rem;
  /* top: 6.4rem; */
  inset-block-start: 6.4rem;
}

header,
header p {
  font: var(--body2);
}

summary {
  font: var(--button);
}

header li {
  margin-block-end: 1.6rem;
  margin-inline-start: 3rem;
}
