@import url("./header.css");
@import url("./introduction.css");
@import url("./setup.css");
@import url("./blockquote.css");
@import url("./content-main.css");
@import url("./slider.css");
@import url("./form.css");
@import url("./footer.css");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
}

a {
  text-decoration: none;
}

h2 {
  margin-block-end: 4rem;
}

h3 {
  font-weight: 600;
  position: sticky;
  top: 0;
  margin-block-start: 1.6rem;
  margin-block-end: 1.6rem;
}

hr {
  margin-block-start: 4rem;
  margin-block-end: 4rem;
}

.wrapper {
  max-inline-size: 70rem;
  margin: auto;
}

.main-content {
  padding-inline-start: 1.6rem;
  padding-inline-end: 1.6rem;
}

@media screen and (min-width: 1236px) {
  .main-content {
    padding: 0;
  }
}

@media screen and (min-width: 1420px) {
  .wrapper {
    max-inline-size: 63.6rem;
  }
}
