@import url("./header.css");
@import url("./introduction.css");
@import url("./setup.css");
@import url("./blockquote.css");
@import url("./content-main.css");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font */
  --font-base: "Roboto", sans-serif;
  --headline1: normal 6rem / 7rem var(--font-base);
  --headline2: bold 3.2rem / 3.8rem var(--font-base);
  --headline3: bold 2.4rem / 2.8rem var(--font-base);
  --body1: normal 1.6rem / 2.4rem var(--font-base);
  --body2: normal 1.4rem / 2.2rem var(--font-base);
  --button: bold 1.4rem / 2.2rem var(--font-base);

  /* colors */
  --gray30: #212121;
  --gray20: #424242;
  --gray: #616161;
  --yellow: #fec62e;
  --white: #fff;

  /* config */
  --border-radius: 4px;
}

body {
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--gray20);
}

a {
  color: var(--black);
  text-decoration: none;
}

h1 {
  font: var(--headline1);
}

h2 {
  font: var(--headline2);
  margin-bottom: 4rem;
}

h3 {
  font: var(--headline3);
  font-weight: normal;
  padding-bottom: 0.8rem;
  position: sticky;
  top: 0;
  background: var(--white);
}

h3::after {
  content: "";
  background: var(--gray30);
  width: 10rem;
  height: 0.4rem;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

hr {
  margin: 6.4rem 0;
}

.wrapper {
  max-inline-size: 70rem;
  margin: auto;
}

@media screen and (min-width: 1420px) {
  .wrapper {
    max-inline-size: 90.2rem;
  }
}
