.hero {
  display: none;
}

.theme p {
  font: var(--body2);
}

.theme .variants button {
  font: var(--button);
}

header,
header p {
  font: var(--body2);
}

summary {
  font: var(--button);
}

header::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

.header-content p {
  color: var(--white30);
}

.theme .variants button {
  font: var(--button);
  color: var(--white20);
  cursor: pointer;
  border-radius: 0.4rem;
}

.theme .variants button:hover {
  background: var(--black);
  color: var(--white30);
}

.theme .variants button.themeActive {
  background: var(--black);
  color: var(--white30);
}
